extends layout

block title
    title 首页 - Feddy

block main
    if mustread
        .owl-carousel
            for item in mustread.slice(0, 4)
                .carousel-card
                    if item.link
                        a.carousel-card-image(href=item.link, target="_blank", style=`display: block; background-image: url(${item.image});`)
                        .carousel-card-meta
                            h5.carousel-card__title= item.title
                            span= item.author
                    else
                        .carousel-card-image(style=`background-image: url(${item.image});`)
                        .carousel-card-meta
                            h5.carousel-card__title= item.title
                            span= item.author

    section.section
        h4.section-header About Feddy / 关于我们
        p.text-center
            span Front End ： Discover , Development and You是Feddy Team名称的由来。
            a(href="https://blog.feddy.org/about-feddy/" target="_blank" title="About Feddy / 关于我们") 阅读&gt;&gt;

    if event
        section.section#events
            h4.section-header EVENTS / 线下活动
            .section-body-cards
                for item in event.slice(0, 4)
                    .post-card
                        .post-card-meta
                            span= item.title
                        a.post-card-image(href=item.link style=`background-image: url(${item.altImage});`)
                        .post-card-content
                            p= item.content.replace(/<[^<>]+>/g, '')
                            p: a(href=item.link) Read more &gt;&gt;

    if project
        section.section#projects
            h4.section-header PROJECTS / 有趣的项目
            .section-body-cards
                for item in project.slice(0, 4)
                    .post-card
                        .post-card-meta
                            span= item.title
                        a.post-card-image(href=item.link style=`background-image: url(${item.altImage});`)
                        .post-card-content
                            p= item.content.replace(/<[^<>]+>/g, '')
                            p: a(href=item.link) Read more &gt;&gt;


    if post
        section.section#posts
            h4.section-header RECENT POSTS / 博客动态
            .section-body-cards
                for item in post.slice(0, 4)
                    .post-card
                        a.post-card-image(href=item.link style=`background-image: url(${item.altImage});`)
                        .post-card-content
                            p= item.content.replace(/<[^<>]+>/g, '')
                            p: a(href=item.link) Read more &gt;&gt;
                        .post-card-meta
                            small &nbsp;by&nbsp;
                            span= item.author

    block body_append
        script(src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js" type="text/javascript")
        script(src="/owl/owl.carousel.min.js" type="text/javascript")
        script
            | $(function(){
            |    console.log('start');
            |    $(".owl-carousel").owlCarousel({
            |       margin: 20,
            | autoWidth: true,
            |    });
            | });

